*{
	  font-family: 'Sora', sans-serif;
	  font-size: 20px;
	  font-weight: 10px;
}
.contenedor2{
	 width: 70%;
	 height: auto;
	 background-color:#708090;
}

.im1{
	 width: 50%;
	 border-radius: 6%;
}
.im2{
	border:solid 3px white;
	width: 80%;
	border-radius: 6%;
}
.p5{
	color: black;
	background-color: white;
}
.p6{
	transition: 0.8s;
	border:solid 2px white;
	border-radius: 5%;
	color: white;
	background-color: grey;
	width: 80%;
	height: 10% ;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
.p7{
	color: white;
}
.p6:hover{
	width: 84%;
	border:solid 5px green;
}






@media only screen and (max-width: 500px){
	.contenedor2{
		 width: 95%;
		 height: 3000px;
	}

	.im1{
		width: 100%;
	}
	.p6{
		width: 100%;
	}

}
