body{
	background-color: black;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}
*{
	  font-family: 'Sora', sans-serif;
	  font-size: 15px;
	  font-weight: 10px;
}
contenedor{
	background-color: white;
	width: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
}
video{
	 width: 90%;
}
audio{
	margin-top: 100px;
	width: 100%;
	height: 100%;
	border-radius: 6%;
	border:solid 3px green;
}
.p1{
	justify-content: center;
	align-items: center;
	 color: white;
	 border-radius: 6%;
	 width: 20%;
	 font-size: 25px;
}
.p2{
	justify-content: center;
	align-items: center;
	color: white;
	border-radius: 6%;
	width: 40%;
	font-size: 25px;
}

@media only screen and (max-width: 900px){
	 .p2{
	 	 width: 100%;
	 	 border: solid 2px green;
	 }
	 .p1{
	 	 margin-right: 50px;
	 }
}
